{% extends "base.html" %}

{% block title %}Lemmy{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lemmy.css') }}">
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Lemmy Reference Page</h1>
    </section>
    <section>
        <h2>Navigation</h2>
        <hr>
        <nav>
            <a href="#add-lemmy">Add Lemmy to a Server</a>
            <a href="#commands">Commands</a>
            <a href="#emotes">Emotes</a>
            <a href="#stickers">Stickers</a>
            <a href="#company">Company</a>
        </nav>
    </section>
    <a name="add-lemmy"></a>
    <section>
        <h2>Add Lemmy to a Server</h2>
        <hr>
        <!--  -->
    </section>
    <a name="commands"></a>
    <section>
        <h2>Commands</h2>
        <hr>
        <!--  -->
    </section>
    <a name="emotes"></a>
    <section>
        <h2>Emotes</h2>
        <hr>
        <!--  -->
    </section>
    <a name="stickers"></a>
    <section>
        <h2>Stickers</h2>
        <hr>
        <!--  -->
    </section>
    <a name="company"></a>
    <section>
        <h2>Company</h2>
        <hr>
        <!--  -->
    </section>
</main>
{% endblock %}
