{% extends "base.html" %}

{% block title %}Lemmy{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lemmy.css') }}">
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Lemmy Reference Page</h1>
    </section>
    <section>
        <h2>Navigation</h2>
        <hr>
        <nav>
            <a href="#add-lemmy">Add Lemmy to a Server</a>
            <span>•</span>
            <a href="#commands">Commands</a>
            <span>•</span>
            <a href="#emotes">Emotes</a>
            <span>•</span>
            <a href="#stickers">Stickers</a>
            <span>•</span>
            <a href="#company">Company</a>
        </nav>
    </section>
    <a name="add-lemmy"></a>
    <section>
        <h2>Add Lemmy to a Server</h2>
        <hr>
        &gt;&gt; <a href="https://discordapp.com/oauth2/authorize?client_id=168168362654957569&scope=bot&permissions=0">Click here</a> &lt;&lt;
    </section>
    <a name="commands"></a>
    <section>
        <h2>Commands</h2>
        <hr>
        <p>Send Lemmy "<code>/help</code>" in a direct message</p>
    </section>
    <a name="emotes"></a>
    <section class="emotes-section">
        <h2>Emotes</h2>
        <hr>
        <div class="emoter-grid">
            {% for emote in emotes %}
            <figure>
                <div class="img-wrapper">
                    <img src="{{ emote.url }}" alt="{{ emote.name|join('') }}">
                </div>
                <figcaption>
                    {% for chunk in emote.name %}<span>{{ chunk }}</span>{% endfor %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
    <a name="stickers"></a>
    <section class="stickers-section">
        <h2>Stickers</h2>
        <hr>
        <div class="emoter-grid">
            {% for sticker in stickers_normal %}
            <figure>
                <div class="img-wrapper">
                    <img src="{{ sticker.url }}" alt="{{ sticker.name|join('') }}">
                </div>
                <figcaption>
                    {% for chunk in sticker.name %}<span>{{ chunk }}</span>{% endfor %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
        <h3>League of Legends Facebook Stickers</h3>
        <div class="emoter-grid">
            {% for sticker in stickers_lolfb %}
            <figure>
                <div class="img-wrapper">
                    <img src="{{ sticker.url }}" alt="{{ sticker.name|join('') }}">
                </div>
                <figcaption>
                    {% for chunk in sticker.name %}<span>{{ chunk }}</span>{% endfor %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
        <h3>eSports Teams</h3>
        <div class="emoter-grid">
            {% for sticker in stickers_teams %}
            <figure>
                <div class="img-wrapper">
                    <img src="{{ sticker.url }}" alt="{{ sticker.name|join('') }}">
                </div>
                <figcaption>
                    {% for chunk in sticker.name %}<span>{{ chunk }}</span>{% endfor %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
    <a name="company"></a>
    <section class="company-section">
        <h2>The Faces of Lemmy Pty. Ltd.</h2>
        <hr>
        <figure class="president">
            <h1>halbrd</h1>
            <h2>President</h2>
            <img src="{{ url_for('static', filename='img/lemmy-halbrd.png') }}" alt="halbrd">
            <figcaption>I chose something different. I chose the impossible. I chose... Lemmy.</figcaption>
        </figure>
        <div class="employees">
            {% for employee in employees %}
            <figure>
                <h1>{{ employee.name }}</h1>
                <h2>{{ employee.title }}</h2>
                <img src="{{ url_for('static', filename='img/' + employee.image) }}" alt="{{ employee.name }}">
                <figcaption class="{{ employee.quote_class }}">"{{ employee.quote }}"</figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
