{% extends "base.html" %}

{% block title %}Lemmy{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lemmy.css') }}">
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Lemmy Reference Page</h1>
    </section>
    <section>
        <h2>Navigation</h2>
        <hr>
        <nav>
            <a href="#add-lemmy">Add Lemmy to a Server</a>
            <span>•</span>
            <a href="#commands">Commands</a>
            <span>•</span>
            <a href="#emotes">Emotes</a>
            <span>•</span>
            <a href="#stickers">Stickers</a>
            <span>•</span>
            <a href="#company">Company</a>
        </nav>
    </section>
    <a name="add-lemmy"></a>
    <section>
        <h2>Add Lemmy to a Server</h2>
        <hr>
        &gt;&gt; <a href="https://discordapp.com/oauth2/authorize?client_id=168168362654957569&scope=bot&permissions=0">Click here</a> &lt;&lt;
    </section>
    <a name="commands"></a>
    <section>
        <h2>Commands</h2>
        <hr>
        <p>Send Lemmy "<code>/help</code>" in a direct message</p>
    </section>
    <a name="emotes"></a>
    <section>
        <h2>Emotes</h2>
        <hr>
        <div class="emoter-grid">
            {% for emote in emotes %}
            <figure>
                <div class="img-wrapper">
                    <img src="{{ emote.url }}" alt="{{ emote.name|join('') }}">
                </div>
                <figcaption>
                    {% for chunk in emote.name %}<span>{{ chunk }}</span>{% endfor %}
                </figcaption>
            </figure>
            {% endfor %}
        </div>
    </section>
    <a name="stickers"></a>
    <section>
        <h2>Stickers</h2>
        <hr>
        <!--  -->
    </section>
    <a name="company"></a>
    <section>
        <h2>Company</h2>
        <hr>
        <!--  -->
    </section>
</main>
{% endblock %}
