.emotes-section {
    --emoter-size: 64px;
}

.stickers-section {
    --emoter-size: 96px;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* background dark shade */
    background-color: var(--bg-darker);
    border-radius: 5px;

    /* spacing */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    margin: 10px;

    /* text */
    font-size: 18px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;

    font-size: 24px;
}

.emoter-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.emoter-grid figure {
    margin: 5px;

    width: calc(1.8 * var(--emoter-size));
    height: calc(2 * var(--emoter-size));
}

.emoter-grid figure .img-wrapper {
    /* set to emote size */
    width: var(--emoter-size);
    height: var(--emoter-size);

    /* center self */
    margin-left: auto;
    margin-right: auto;

    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoter-grid figure img {
    width: auto;
    height: auto;
    max-width: var(--emoter-size);
    max-height: var(--emoter-size);
}

.emoter-grid figure figcaption span {
    display: inline-block
}

.company-section figure {
    color: #FFD700;

    /* size and layout */
    width: 230px;
    height: 400px;

    padding: 15px;
    border-radius: 5px;

    background-color: var(--bg-darkest);

    margin: 8px;

    /* layout of contents */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-section figure h1 {
    font-size: 28px;
    color: currentColor;

    margin-bottom: 5px;
}

.company-section figure h2 {
    font-size: 16px;
    color: currentColor;

    margin-bottom: 15px;
}

.company-section figure img {
    width: 200px;
    height: 200px;

    border: solid currentColor 3px;

    margin-bottom: 15px;
}

.company-section figure figcaption {
    font-size: 18px;
}

.company-section figure .small {
    font-size: 11px;
}

.company-section .president {
    margin-left: auto;
    margin-right: auto;
}

.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
