:root {
    --emote-size: 64px;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* background dark shade */
    background-color: var(--bg-darkest);
    border-radius: 5px;

    /* spacing */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    margin: 10px;

    /* text */
    font-size: 18px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;

    font-size: 24px;
}

.emoter-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.emoter-grid figure {
    margin: 5px;

    width: calc(2 * var(--emote-size));
    height: calc(2 * var(--emote-size));
}

.emoter-grid figure .img-wrapper {
    /* set to emote size */
    width: var(--emote-size);
    height: var(--emote-size);

    /* center self */
    margin-left: auto;
    margin-right: auto;

    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoter-grid figure img {
    width: auto;
    height: auto;
    max-width: var(--emote-size);
    max-height: var(--emote-size);
}

.emoter-grid figure figcaption {
    /* word-break: break-all; */
}

.emoter-grid figure figcaption span {
    display: inline-block
}


body * {
    /* outline: solid white 1px; */
}
