main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* background dark shade */
    background-color: var(--bg-darkest);
    border-radius: 5px;

    /* spacing */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    margin: 10px;

    /* text */
    font-size: 18px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 10px;
    margin-right: 10px;

    font-size: 24px;
}
